@model WebScheduler.Models.LocalPasswordModel

@using WebScheduler.Models

@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
    try 
    {
        @Html.Partial("_ManageUserDataPartial", new UserDataViewModel(WebSecurity.CurrentUserId))
    }
    catch
    {
        @Html.Partial("_ManageUserDataPartial", new WebScheduler.Models.UserDataViewModel { UserId = WebSecurity.CurrentUserId })
    }
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval","~/bundles/addUserData")
}
